<%if @user.name == "Ishita Chaurasia"%>
	<h1><%=@user.name%></h1>

<h3>Basic Information</h3>
<p>Name</p><p><%=@user.name%></p>
<p>Email<br> <%=@user.email%><br></p>
<p>Year of Study <br> <%=@user.year_of_study%><br></p>
<p>Give a brief introduction about yourself<br> <%=@user.brief_intro%><br></p>
<p>Achievements<br> <%=@user.achievements%><br></p>
<p>Your reasons for applying to RGSOC<br> <%=@user.rgsoc_reason%><br></p>
<p>Projects of your Choice<br> <%=@user.projects%><br></p>
<p>Which Languages you prefer<br> <%=@user.languages%><br></p>
<p>Which is your favorite food<br> <%=@user.fav_food%><br></p>

<p><%=link_to "Edit Details", edit_user_path(@user)%></p>

<%else%>
<%= render 'jimmy'%>
<%end%>
